$white: #FFFFFF;
$grey: #4C4C4C;
$lightgrey: #9B9B9B;
$mustard: #CC9900;
$lightmustard: #C89F2D;
$black: #000;

$title: 'Yeseva One', cursive;
$main_text: 'Lato', sans-serif;
$review: 'Gentium Book Plus', serif;

$breakpoint_xxl: 1200px;
$breakpoint_xl: 1070px;
$breakpoint_md: 768px;
$breakpoint_sm: 576px;